pymavlink==2.4.49
pyserial==3.5
MAVProxy==1.8.74
pynmeagps==1.1.2

#gpiozero==2.0.1
#gpiod==2.2.0
#lgpio==0.2.2.0
#rpi-lgpio==0.6
#smbus2==0.4.3
#spidev==3.6
#colorzero==2.0

numpy==2.4.3
opencv-python==4.13.0.92
picamera2==0.3.34